<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definition for com.taskmanager.domain.Task -->
    <bean id="task" class="com.taskmanager.domain.Task">
        <property name="id" value="1"/>
        <property name="title" value="Complete Spring Tutorial"/>
        <property name="description" value="Learn how to create a Spring app."/>
        <property name="dueDate">
            <value>2023-08-31</value>
        </property>
    </bean>

    <!-- Bean definition for com.taskmanager.domain.TaskService -->
    <bean id="taskService" class="com.taskmanager.domain.TaskServiceImpl">
        <property name="task" ref="task"/>
    </bean>

</beans>
